.main-content{
    width: 100%;
    height: max-content;
    padding: 10px;
    
}

.content{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
    padding: 5px;
}

.content-text{
    width: 30%;
    align-content: center;
    padding: 10px;
    
}

.content-img{
    padding: 2px;
    margin-left: 10px;
}

.content-img img{
    width: 350px;
    height: 400px;
    border-radius: 20px;
    opacity: 0.7;
    border: none;
    outline: none;
    cursor: pointer;

}

.content-text h3{
    font-size: 36px;
    color: #f1f1f1;

}

.content-text p{
    font-size: 18px;
    color: #f1f1f1;

}

.our-store{
    width: 100%;
    background:url(./images/purple-bg.jpg);
    background-size: cover;
    overflow: hidden;
    display: grid;
    place-items: center;
    padding-bottom: 20px;
    opacity: 0.7;
}

.our-store h3{
    color: #f1f1f1;
    font-size: 36px;
    
}

.store-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.store-img{
    padding: 5px;
    margin: 5px;
    /* margin-left: 10px; */
}

.store-img img{
    width: 190px;
    height: 220px;
    border-radius: 20px;
    opacity: 0.9;
    border: none;
    outline: none;
    cursor: pointer;
}

.store-text{
    background-color: rgb(20, 1, 20);
    display:block;
    
    padding: 5px;
    width: 200px;
    height: 250px;
    margin-bottom: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px #8B499F;
}

.store-text h3{
    font-size: 30px;
}

.store-text p{
    font-size: 18px;
    color: #f1f1f1;
}

/* FAQs- Frequent Asked Questions */

.FAQ{
    width: 100%;
    background:url(./images/purple-bg.jpg);
    background-size: cover;
    overflow: hidden;
    display: grid;
    place-items: center;
    padding-bottom: 20px;
    opacity: 0.6;
    color: #f1f1f1;
    
}

.FAQ-content{
    background-color: #8B499F;
    width: 70%;
    height: max-content;
    padding: 10px;
    border-radius: 10px;
    margin:auto;
    margin-top: 20px;
}

.FAQ-content h1{
    color: #f1f1f1;
    font-size: 22px;
}