body {
  margin: 0;
  padding: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  #110317;
}


/* 
Primary Color:#8B499F
Secondary Color: #E5D8EA
BG Color: #110317
Text Color: #1A2530
BG Text Color:F1F1F1

my primary color:#db54e9
 */

